<div class="about-container">
  <div class="about-content">
    <br>
    <br>
    <br>
    <h1>A Propos</h1>
    <h2>
      Bienvenue dans notre entreprise ! Nous offrons des produits et services de haute qualité adaptés à vos besoins. Notre mission est d'offrir l'excellence et de construire des relations durables avec nos clients.
    </h2>
    <h2>
      Notre équipe est composée de professionnels hautement qualifiés et soucieux de garantir la satisfaction de nos clients. Nous sommes fiers de notre travail et souhaitons être votre partenaire de confiance dans chaque projet.
    </h2>
  </div>
</div>

<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2024. All rights reserved.</p>
</footer>
